<h3>レビューした書籍</h3>
<table>
  <thead>
    <th>タイトル</th>
    <th>著者</th>
    <th>詳細</th>
  </thead>
  <tbody>
    <% @books.each do |books| %>

    <tr>
    <td><%= books.title %></td>
    <td><%= books.author %></td>
    <td><% books.posts.each do |posts| %>
    <%= link_to '詳細', public_post_path(posts.id) %>
    <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>

