<div class="container">
  <h3>検索結果</h3>
  <table class="table">
    <% if @posts %>
      <% @posts.each do |posts| %>
        <tr>
          <td><%= image_tag(posts.book.book_image_url + '?_ex=70x70') %></td>
          <td><%= posts.book.title %></td>
          <td><%= posts.book.author %></td>
          <td><%= link_to '詳細', public_post_path(posts.id) %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
