<div class="container">
  <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
      <% Tag.all.each do |t| %>
          <li><%= check_box :tag_ids, t.tagname %><%= t.tagname %></li>
      <% end %>
      <%= submit_tag '検索', class: "btn btn-md btn-success" %>
  <% end %>