<div class="container">
  <h2 class="text-center">findbookとは？</h2>
  <h4 class="text-center">読書したいけれど、何が読みたいか決まらない、<br>
  人気の本があるけれど本当に面白いのか分からない・・・<br>
  そんな時、他のユーザーのレビューを見て自分にピッタリの本を見つけましょう！</h4>
  <h5 class="text-center">本を探すことは誰でもできますが、レビューを作成するには会員登録、もしくはゲストログインが必要です。<br>
  お試しは画面上にある「ゲストログイン」からどうぞ！</h5>
</div>

