<div class="container">
  <h2 class="text-center">Welcome to findbook !</h2>
  <h4 class="text-center">読みたい本が決まらない時、みんなの感想を見て読みたい本を探しましょう！</h4>
  <h4 class="text-center"><%= link_to "本を探す", public_books_search_path, class: "btn btn-md btn-primary" %></h4>
</div>