<div class="container">
  <h2 class="text-center mt-5">Welcome to findbook !</h2>
  <h4 class="text-center mt-3">様々な本のレビューを見て読みたい本を探しましょう！</h4>
  <h4 class="text-center mt-4"><%= link_to "会員登録", new_user_registration_path, class: "btn btn-md btn-success" %>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-md btn-primary" %></h4>
  <div class="text-center mt-5">
    <%= image_tag 'topbook1.jpg', size: "700x350" %>
  </div>
</div>