<div class="container">
<h3>会員一覧</h3>
<table>
  <thead>
    <th class="text-center">会員ID</th>
    <th class="text-center">ニックネーム</th>
    <th class="text-center">メールアドレス</th>
    <th class="text-center">ステータス</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td class="text-center col-2"><%= user.id %></td>
      <td class="text-center col-3"><%= link_to admin_user_path(user.id) do %>
      <%= user.name %>
      <% end %></td>
      <td class="text-center col-5"><%= user.email %></td>
      <td class="text-center col-4"><% if user.is_deleted == false %>
      有効
      <% else %>
      退会
      <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>