<h2>投稿一覧</h2>
<table>
  <tbody>
    <% @posts.each do |posts| %>
      <tr>
        <td><%= posts.comment %></td>
        <td><%= posts.readingtime %>時間</td>
        <td><%= link_to "詳細", admin_post_path(posts.id) %></td>
      </tr>
      <% end %>
  </tbody>
</table>
