<div class="container">
  <h3>レビュー一覧</h3>
  <table class="table table-striped">
    <thead>
      <th class="text-center">感想</th>
      <th class="text-center">読了時間（時）</th>
      <th></th>
    </thead>
    <tbody>
      <% @posts.each do |posts| %>
        <tr>
          <td class="text-center col-9"><%= posts.comment %></td>
          <td class="text-center col-2"><%= posts.readingtime %></td>
          <td><%= link_to "詳細", admin_post_path(posts.id) %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>