@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

div {
     padding: 0;
     margin: 0;
 }

header, .notice, .col {
 font-family: 'Shippori Mincho', serif;
}

.container{
  margin-top: 15px;
  font-family: 'Shippori Mincho', serif;
}

ul, li{
  list-style: none;
}

.pagenate{
  justify-content: center;
}